[submodule "01addressBookProj"]
	path = 001addressBookProj
	url = https://github.com/lara-lee/001addressBookProj.git
[submodule "02memberBbsProj"]
	path = 002memberBbsProj
	url = https://github.com/lara-lee/002memberBbsProj.git
[submodule "03tripMaven_Team"]
	path = 003tripMaven_Team
	url = https://github.com/lara-lee/003tripMaven_Team.git
[submodule "04textify"]
	path = 004textify
	url = https://github.com/lara-lee/004textify.git
